.main{
    background-image: url("../../assets/contact-transformed.jpeg");
    background-repeat: no-repeat;
    background-color: rgb(36, 7, 7);
    padding: 40px;
    margin: 80px;
  }
  h2{
    color: white;
  }
  .contact{
    padding: 4%;
    height: 400px;
  }
  .image{
    background-image: url(../../assets/contact-transformed.jpeg);
    margin-top: 100px;
    
    background-repeat: no-repeat;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-size: contain; 
  }
  .contact-info{
    margin-top:80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .contact-info img{
    margin-bottom: 15%;
  }
  .contact-info h2{
    margin-bottom: 10%;
  }
  .col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .contact-form label{
    font-weight:600;
  }
  .contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 60%;
  }
  .contact-form button:focus{
    box-shadow:none;
  }
  .submit{
    margin-top: 10px;
    // padding: 10px;
  }
  @media screen  and (min-width: 480px){
    body{ 
      height: 100%;
      width: auto;
  }
}