.card{
  border: 6px double black;
  padding: 35px;
  position: absolute;
  margin: 150px 100px;
  top: 9%;
}
.button {
  position: absolute;
  background-color:#0a0a23;
  color: #fff;
  border:none;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
.button:hover {
  background-color:green;
  transition: 0.7s;
}