.welcome{
  margin:0; //removes default margin
  background-image:url("../../assets/img1.1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 3s;
  animation-name: animate ;
  animation-direction: alternate-reverse;
  animation-duration: 20s ;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite ;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  }
  //This allows the element to make gradually.
@keyframes  animate{
    0%{
      background-image: url(../../assets/img1.1.jpg);
      
    }
    20%{
      background-image: url(../../assets/img2.jpeg);
    }
    40%{
      background-image: url(../../assets/img3.jpeg);
    }
    60%{
      background-image: url(../../assets/img4.jpg);
    }
    80%{
      background-image: url(../../assets/menserving.jpg);
    }
    100%{
      background-image: url(../../assets/img6.jpeg);
    }
}
  /*will give us a scrolling context*/
  .wrapper{     /*allows us to center the content*/
    width: auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;  /*verticle scroll-bar */
  }
  /* hides scroll bar */
 .wrapper::-webkit-scrollbar {   
   display: none; 
 }
//  .coffee img{
//   margin-left: 40px;
//   margin-right: 40px;
//  }
.caption{
  text-align: center;
  cursor: pointer;
  font-size:25px;
  width: min-content;
  color: white;
  border-radius: 10px;
  margin: 10px 10px;
  
}
.caption:hover{

  transform:  scale(1.08);
  background-color:rgb(41, 94, 4);

}
  .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  .background{
    position: absolute;
    height: 100%;
    width: 101%;
    object-fit: cover;
  }
  h3{
    font-size: 8vw;
    color: rgb(224, 213, 213);
    margin-left: 50px;
  }
  h6{
   padding-left:50px;
   font-size: 6vw;
  color:rgb(245, 239, 239);
  }
  .AboutUs{
    font-size:1rem;
    padding: 2rem;
    background-color: #190404;
    color: antiquewhite;   
  }
  .offer{
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 5px black;
    margin-left: 20px;
    margin-right: 30px;
  }
  h2{
    text-align: center; 
  }
  .copy{
    background-color: black;
    text-align: center;
    color: white;
  }
   .customers{
    font-size: 50px;
    color: white;
    
   }
  .user-content p{
    margin-top:5px;
    font-size:12px;
  }
  h4{
    color: white;
    margin: 30px 30px;
  }
.item img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition:0.2s ease-in-out;
    border-radius: 30px;
}
.item img:hover{
    transform: scale(1.06);
}
.item button{
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: rgb(45, 2, 2);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    margin: 0 0;
    transition:0.2s all;
    align-items: center;
}
.item button:hover{
    transform:  scale(1.08);
    background-color: rgb(1, 31, 1);
}
hr{
    color: aliceblue;
}
.line{
  height: 5px;
  background-color: rgb(35, 60, 3);
}
